options:
  editor: sublime
  filesystem: sshfs

my_site:
  filesystem:
    host: myserver.example.com
    remote_path: ~/sites/my_site
    local_path: ~/remote
  ssh:
    host: myserver.example.com
    command: cd ~/sites/my_site
  editor:
    path: ~/remote
